apiVersion: v1
kind: Service
metadata:
  name: whosee-whois-server
  labels:
    app: whosee-whois-server
spec:
  type: ClusterIP
  ports:
  - port: 3900
    targetPort: 3900
    protocol: TCP
    name: http
  selector:
    app: whosee-whois-server
